/* Layout */

.app-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
    padding: 2rem;
}

/* Navbar */

.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.navbar img {
    margin-right: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff5722;
}


.counter {
    text-align: center;
    margin: 2rem;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin: 0.5rem;
}